@use '@/shared/styles/utils' as *;

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4rem;
  gap: 0.5rem;
  @media ($tablet) {
    margin-bottom: 0;
    margin-bottom: 2rem;
    flex-direction: row;
    align-items: flex-start;
  }
}
